@model IEnumerable<Android_Push_Notifications.Models.DeviceModel>

@{
    ViewBag.Title = "View";
}

<h2>Devices</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imei)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imei)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
